<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /tienda/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ˄(.*)$ index.php?/$1 [L]
    #Recordar quitar el juntar para que funcione
</IfModule>

<IfModule !mod_rewrite.c>

    ErrorDocument 404 /index.php
</IfModule>
